main{
    margin-top: 30px;
}

.card{
    margin-bottom: 20px;
}

.info{
    display: flex;
    justify-content: space-between;
}

img{
    height: 320px;
    border-radius: 8px;
    padding: 20px;
}

h1, h2{
    font-size: 20px;
    margin: 20px;
}

.link{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}